@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=PT+Serif:wght@700&family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

.header h1 {
    font-family: 'PT Serif', serif;
    text-align: left;
}

.header {
    padding: 3rem;
    width: 100%;
}

.container .member {
    max-width: 300px;
    margin: auto;
    margin-bottom: 5rem;
    cursor: pointer;
    position: relative;
}

.member:nth-child(3n+2) {
    margin-bottom: -1rem;
    margin-top: 5rem;
}

.member img {
    width: 264px;
    height: 383px;
}

.member:first-child:after {
    content: 'PRODUCT OWNER';
    padding-bottom: 2rem;
}

.member:nth-child(2):after {
    content: 'ART DIRECTOR';
    padding-bottom: 1rem;
}

.member:nth-child(3):after {
    content: 'TECH LEAD';
    padding-bottom: -1rem;
}

.member:nth-child(4):after {
    content: 'UX DESGINER';
    padding-bottom: 1rem;
}

.member:nth-child(5):after {
    content: 'DEVELOPER';
    padding-bottom: -1rem;
}

.member:nth-child(6):after {
    content: 'DEVELOPER';
    padding-bottom: -1rem;
}

.member::after {
    color: black;
    position: absolute;
    top: 3rem;
    right: -3.9rem;
    transform: rotate(90deg);
}

.footer {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #A9A9A9;
    margin: 20px 0;
    font-family: 'Montserrat', sans-serif;
}

.footer a {
    color: #A9A9A9;
    text-decoration: none;
}